.bg-white {
    background: white !important;
}

.full {
    width: 100% !important;
    height: 100% !important;
    background: red !important;
}

.header {
    position: fixed;
    vertical-align: middle;
    z-index: 1;
    width: 100%;
    padding: 0 !important;
    height: 56px !important;
    line-height: 56px !important;
    background: white !important;
    border-bottom: #f0f0f0 solid 1px;
}


.side {
    background: white !important;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.menu {
    border: none !important;
}

.footer {
    padding: 0 15px !important;
    width: 100%;
    height: 35px !important;
    line-height: 35px !important;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background: white !important;
    vertical-align: middle !important;
}

.content {
    height: 100%;
    overflow-y: auto;
    margin-top: 56px;
    margin-bottom: 35px;
    padding: 10px;
}

.trigger {
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    padding: 0 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.brand {
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    border-bottom: #f0f0f0 solid 1px;
    overflow: hidden;
    background: #f0f0f0;
}

.brand-logo {
    width: 80px;
    float: left;
    display: inline-block;
    text-align: right;
}

.ant-layout-sider-collapsed .brand-logo {
    text-align: center;
}

.brand-title {
    text-align: left;
}
